In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.


Answer to question 1:

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt','w') as f:
    f.write(test1)

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?


Answer to question 2:
    
    
There is no difference between test1 and test2.

In [5]:
with open('test.txt','r') as f:
    test2 = f.read()
    
print(test2)

This is a test of the emergency text system,

In [ ]:
3. Create a CSV file called books.csv by using these lines:
    
    
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992


Answer to question 3:

In [6]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).


Answer to question 4:

In [1]:
import sqlite3
db = sqlite3.connect('books.db')
c=db.cursor()
c.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

In [ ]:
5. Read books.csv and insert its data into the books table.



Answer to question 5:

In [2]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

In [ ]:
6. Select and print the title column from the books table in alphabetical order.


Answer to question 6:

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
c = db.cursor()
o = c.execute("SELECT title FROM books ORDER BY title ASC")
for ele in o:
    print(ele[0])
db.commit()
db.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
7. From the books table, select and print all columns in the order of publication.


Answer to question 7:

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
o = cursor.execute("SELECT * FROM books ORDER BY year")
for i in o:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)