In [ ]:
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. 
For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].


Answer to question 1:

In [4]:
years_list = []
for i in range(1999, 1999+6):
    years_list.append(i)
    
print(years_list)

[1999, 2000, 2001, 2002, 2003, 2004]

In [ ]:
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.


Answer to question 2:

In [5]:
print(years_list[3])

2002

In [ ]:
3.In the years list, which year were you the oldest?


Answer to question 3:

In [6]:
print(years_list[-1])

2004

In [ ]:
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".


Answer to question 4:
    
things = ['mozzarella', 'cinderella', 'salmonella']

In [ ]:
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?


Answer to question 5:

In [8]:
things = ['mozzarella', 'cinderella', 'salmonella']
cthings=[]
for i in things:
    z=i.capitalize()
    cthings.append(z)
print(cthings)

['Mozzarella', 'Cinderella', 'Salmonella']

In [ ]:
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."


Answer to question 6:

In [9]:
suprise_list = ['Groucho','Chico','Harpo']
print(suprise_list)

['Groucho', 'Chico', 'Harpo']

In [ ]:
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.


Answer to question 7:

In [10]:
print(suprise_list[-1].lower()[::-1].capitalize())

Oprah

In [ ]:
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.


Answer to question 8:

In [11]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.


Answer to question 10:

In [12]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
f2e = {v: k for k, v in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
11. Print the English version of the French word chien using f2e.


Answer to question 11:

In [13]:
f2e['chien']

'dog'

In [ ]:
12. Make and print a set of English words from the keys in e2f.


Answer to question 12:

In [14]:
list(e2f.keys())

['dog', 'cat', 'walrus']

In [ ]:
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
Make all the other keys refer to empty dictionaries.


Answer to question 13:

In [31]:
life = {'animals' : {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi' :{}, 'emus' : {}},
       'plants': {},
        'other' : {}
       }

In [32]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [ ]:
14. Print the top-level keys of life.


Answer to question 14:

In [33]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. Print the keys for life['animals'].


Answer to question 15:

In [34]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
16. Print the values for life['animals']['cats']


Answer to question 16:

In [35]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']